::ng-deep .mat-select-value {
    color: white !important;
}

mat-label {
    color: white;
}
mat-slider {
    margin-left: 10px;
    overflow: hidden;
    position: relative;
}

h4 {
    z-index: -1;
}
