:host {
  height: 100%;
}

.center {
  text-align: center;
}

.mine {
  background-color: rgb(255, 184, 51);
  border-radius: 5px;
  padding: 10px;
}

.yours {
  background-color: rgb(82, 188, 250);
  border-radius: 5px;
  padding: 10px;
}

.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(214, 214, 214);
  border-radius: 5px;
}


.fullHeight {
  height: 100%;
}

.scrollable {
  overflow: auto;
}

.message {
  max-width: 100%;
  word-wrap: break-word;
}

.username-link {
  font-weight: bold;
  cursor: pointer;
}

.username-link:hover {
  color: #A8D08C;
}

.timestamp {
  font-size: small;
}

input {
  margin: 2px;
}

#more-vert-btn {
  text-align: end;
}


mat-icon {
  transform: scale(0.75);
  cursor: pointer;
}

// ****** Classes to customize chat theme ******

:host {
  --font: none;
  --textColor: none;
  --backgroundColor: none;
  --backgroundImage: none;
  --backgroundColorMainMessageContainer: none;
  --backgroundColorSecondMessageContainer: none;
  --opacityMainContainer: none;
  --opacitySecondContainer: none;
  --borderColor: none;
  --messageColorMine: none;
  --messageBackgroundMine: none;
  --messageColorYours: none;
  --messageBackgroundYours: none;

  #custom-wrapper {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    background-image: var(--backgroundImage);
  }

  .custom-font {
    font-family: var(--font);
  }

  #custom-msg-mine {
    color: var(--messageColorMine);
    background-color: var(--messageBackgroundMine);
  }

  #custom-msg-yours {
    color: var(--messageColorYours);
    background-color: var(--messageBackgroundYours);
  }

  // Main chat container
  div .bordered {
    border-color: var(--borderColor);
    background-color: var(--backgroundColorMainMessageContainer);
    opacity: var(--opacityMainContainer);
  }

  // Second chat container
  div #messagesContainer {
    background-color: var(--backgroundColorSecondMessageContainer);
    opacity: var(--opacitySecondContainer);
  }
}
