<div id="custom-wrapper" fxLayout="column" fxLayoutAlign="center stretch" fxFlex="100">

  <div>
    <button mat-icon-button disableRipple="true" routerLink="/chatmenu">
      <mat-icon id="back-btn">keyboard_arrow_left</mat-icon>
      <span class="custom-font">
        Retour
      </span>
    </button>
  </div>

  <div class="center">
    <h1 class="custom-font"> Conversation "{{ this.displayedRoomName }}" </h1>
    <h3 class="custom-font">créée par <span class="username-link" (click)="this.getUserProfileInfos(this.chatService.currentRoom.identifier)">{{this.chatService.currentRoom.identifier}}</span></h3>
  </div>

  <!-- Encadré du chat -->
  <div fxFlex="70" fxLayout="row" fxLayoutAlign="center stretch">
    <div fxFlex="50" class="bordered" fxLayout="column" fxLayoutAlign="center stretch">


      <div id="more-vert-btn">
        <button mat-button matIcon [matMenuTriggerFor]="menu" #menuTrigger><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="viewUsers()"><span class="custom-font">Voir la liste des membres présents</span></button>
          <button mat-menu-item (click)="leaveChatroom()" *ngIf="!this.isCurrentChatroomMine && !this.isPublicChatroom"><span class="custom-font">Quitter la conversation</span></button>
          <button mat-menu-item (click)="deleteChatroom()" *ngIf="this.isCurrentChatroomMine && !this.isPublicChatroom"><span class="custom-font">Supprimer la conversation</span></button>
        </mat-menu>

      </div>

      <!-- Colonne ayant le chat, l'input et le bouton -->
      <div fxFlex="92" fxLayout="column" fxLayoutAlign="end stretch">

        <!-- Messages -->
        <div fxFlex="90" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="90" fxLayout="column" fxLayoutAlign="start stretch" class="bordered fullHeight scrollable"
            id="messagesContainer">

            <!-- Individual message -->
            <div fxLayout="column" fxLayoutAlign="center stretch" *ngFor="let message of this.messageList">

              <!-- Right message / Message sent -->
              <div *ngIf="message.mine" fxLayout="row" fxLayoutAlign="end center">
                <div fxFlex="47" fxLayout="column" fxLayoutAlign="center end">

                  <div class="username">
                    <span class="username-link custom-font" (click)="this.getUserProfileInfos(message.userName)">{{message.userName}}</span> - <span class="timestamp">{{ this.timestamp }}</span>
                  </div>
                  <div id="custom-msg-mine" class="message mine">
                    <span class="custom-font">
                      {{message.message}}
                    </span>
                  </div>

                </div>
                <div fxFlex="3"></div>
              </div>

              <!-- Left message / Message received -->
              <div *ngIf="!message.mine" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="3"></div>
                <div fxFlex="47" fxLayout="column" fxLayoutAlign="center start">

                  <div class="username">
                    <span class="username-link custom-font" (click)="this.getUserProfileInfos(message.userName)">{{message.userName}}</span> - <span class="timestamp">{{ this.timestamp }}</span>
                  </div>
                  <div id="custom-msg-yours" class="message yours">
                    <span class="custom-font">
                      {{message.message}}
                    </span>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>

        <div fxFlex="5"></div>

        <!-- Input et Boutton -->
        <div fxLayout="row" fxLayoutAlign="center stretch">
          <div fxFlex="5"></div>
          <input id="msgInput" class="bordered custom-font" fxFlex="70" matInput placeholder="Écris ton message ici!" type="text"
            [(ngModel)]="this.message">
          <button fxFlex="20" mat-raised-button color="primary" (click)="sendMessage()"><span class="custom-font">Envoyer</span></button>
          <div fxFlex="5"></div>
        </div>

      </div>
    </div>
  </div>

</div>
