<h4>Épaisseur: {{ rectangleService.lineWidth }} px</h4>
<div>
  <mat-slider min="1" max="50" tickInterval="1000" thumbLabel [displayWith]="updateLineWidth"
    [(ngModel)]="rectangleService.lineWidth">
  </mat-slider>
</div>

<mat-form-field>
  <mat-label>Style du dessin</mat-label>
  <mat-select class="white" [(ngModel)]="rectangleService.selectType" (selectionChange)="rectangleService.changeType()">
    <mat-option value="stroke">Contour</mat-option>
    <mat-option value="fill">Plein</mat-option>
    <mat-option value="strokeFill">Plein + contour</mat-option>
  </mat-select>
</mat-form-field>
