h4 {
    margin: 0;
}

#thicknessGrid {
    width: 75%;
    padding-bottom: 140px !important; 
}

.circle {
    background-color: white;
    border: solid 0px;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.thicknessR {
    background-color: black;
    border-radius: 50%;
}

.circle:hover {
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(66, 243, 131);
    box-shadow: 1px 1px 3px rgb(255, 255, 255);
 }

.selected {
    border-width: 2px;
    border-color: rgb(66, 243, 131);
    box-shadow: 2px 2px 5px rgb(46, 137, 0);
}

.black {
    background-color: black;
}


