
p {
    margin: 10px 0px 0px 0px;
    font-size: 12px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cfcfcf;
    width: 100%;
}

.bottomBorder {
    margin: 1em 0 0 0;
}

h4{
    font-size: 12px;
}