<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex="100">
  <app-side-menu fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15%"></app-side-menu>

  <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex="auto">

    <div fxLayout="row" fxLayoutAlign="space-evenly center" >
      <button mat-raised-button color="primary">Créer un nouvel album</button>
      <button mat-raised-button color="primary">Voir mes dessins</button>
   </div>

    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
      <mat-grid-tile><button mat-icon-button disableRipple="true"><mat-icon>folder</mat-icon></button></mat-grid-tile>
    </mat-grid-list>

  </div>
</div>
