:host {
  height: 100vh;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

#like-btn {
  color:red;
}

.username {
  font-weight: bold;
  cursor: pointer;
}

.username:hover {
  color:#A8D08C;
}

.creationDate {
  font-weight: bold;
}

mat-icon {
  color: rgb(52, 52, 52);
}

h3 {
  margin-top: 10px;
}

.content {
  margin: 16px;
  overflow-y: scroll;
}

#back-btn {
  transform: scale(2);
}

img:hover {
  cursor: pointer;
}

#drawingsDiv {
  border: solid 2px;
  border-radius: 5px;
  height: 100%;
  margin: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

#drawingRow {
  height: 100%;
}

:host {
  height: 100vh;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

#more-option-button {
  float:right;
}


