#draggable-zone {
  background-color: #92b37b;
  padding: 5px;
  -webkit-app-region: drag;
}

#drag-btn {
  color: #536b42;
}

mat-sidenav-container {
    color: white;
    background-color: #90C585;
    height: 100%;
    width: 200px;
    padding: 1em;
}

#returnBtn {
    scale: 1.75;
    color: black;
    cursor: pointer;
}

.config-container {
    display: inline-block;
    margin: 12px;
}

h2,
h5 {
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 5px rgb(27, 27, 27);
}

h2 {
    padding: 5px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

hr {
    border-top: 1px solid;
    border-color: black;
}

p {
    text-align: center;
}

#returnDiv {
    color: black;
    margin-bottom: 20px;
}

#returnDiv:hover {
    cursor: pointer;
    color: rgb(72, 72, 72);
}

span:hover {
    text-decoration: underline;
}
