<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex="100">

  <!-- Side Menu -->
  <app-side-menu fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15%"></app-side-menu>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="auto">
    <div fxFlex="5%"></div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 id="title">Mon Top</h1>
    </div>

    <button mat-icon-button disableRipple="true" (click)="backToProfil(this.profileService.username)">
      <mat-icon id="back-btn">keyboard_arrow_left</mat-icon> Retour
    </button>

    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"
          *ngFor="let drawing of this.albumGalleryService.topDrawingsData">
          <mat-card class="mat-elevation-z4">
            <mat-card-header>
              <mat-card-title>{{drawing.name}}</mat-card-title>
            </mat-card-header>
            <img height="150px" src="data:image/png;base64,{{ drawing.data }}">
            <mat-card-content>
              <p>
                Propriétaire: {{drawing.owner}}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>


  </div>

</div>
