<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex="100">
  <!-- Side Menu -->
  <app-side-menu fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15%"></app-side-menu>

  <!-- Profil page -->
  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="auto">
    <div fxFlex="5%"></div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1 id="title">Profil</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <!-- Settings -->
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20%" routerLink="/profileSettings" *ngIf="this.isCurrentUserProfile">
        <div fxLayoutAlign="center center" id="settingsBtnDiv">
          <mat-icon id="pencil">create</mat-icon>
          <span id="modifierProfil">Modifier profil</span>
        </div>
      </div>
      <!-- Avatar -->
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="20%">
        <div id="avatarDisplay" fxLayoutAlign="center center">
          <img id="avatarImg" src="data:image/png;base64,{{this.profileService.avatarSrc}}">
        </div>
      </div>
      <!-- Badge -->
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="20%">
        <img id="badge" src="{{this.profileService.currentBadge}}">
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="50">
        <!-- Username -->
        <div class="sectionTitleContainer" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon fxFlex="5%">person</mat-icon>
          <span class="bold" fxFlex="20%">Nom d'utilisateur</span>
          <span class="userInfo">{{this.profileService.username}}</span>
        </div>
        <!-- Email -->
        <div class="sectionTitleContainer" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon fxFlex="5%">email</mat-icon>
          <span class="bold" fxFlex="20%">Adresse courriel</span>
          <span class="userInfo">{{this.profileService.email}}</span>
        </div>
        <!-- Description -->
        <div class="sectionTitleContainer" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon fxFlex="5%">text_snippet</mat-icon>
          <span class="bold" fxFlex="20%">Description</span>
          <span class="userInfo">{{this.profileService.description}}</span>
        </div>
      </div>

    </div>

    <div fxFlex="5"></div>

    <!-- Statistics -->
    <div fxLayout="row" fxLayoutAlign="center start">
      <div id="statsContainer" fxLayout="row" fxLayoutAlign="center center" fxFlex="50">
        <div fxFlex="2"></div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="20%">
          <img id="statsImg" src="{{this.profileService.statsImg}}">
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="56%">
          <span class="sectionTitle">Statistiques:</span>
          <div fxLayout="row" fxLayoutAlign="start start">
            <span>Nombre de collaborations : </span>
            <span>69</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <span>Nombre de dessins créés : </span>
            <span>420</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <span>Nombre d'albums privés : </span>
            <span>69420</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <span>Temps moyen des séances de collaboration : </span>
            <span>Couple hours</span>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start">
            <span>Temps total de collaboration : </span>
            <span>Un billion de temps</span>
          </div>
        </div>

        <div fxFlex="2"></div>
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="20%">
          <img id="statsImg" src="{{this.profileService.statsImg}}">
        </div>

      </div>
    </div>

    <div fxFlex="5%"></div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <!-- Favorites -->
      <div fxLayout="column" fxLayoutAlign="center center">
        <img id="favoritesImg" src="{{this.profileService.favoritesImg}}">
        <div fxLayoutAlign="center center" id="settingsBtnDiv" routerLink="/favorite-drawings">
          <span>Mes favoris</span>
        </div>
      </div>
      <div fxFlex="20%"></div>
      <!-- Most Liked -->
      <div fxLayout="column" fxLayoutAlign="center center">
        <img id="mostLikedImg" src="{{this.profileService.mostLikedImg}}">
        <div fxLayoutAlign="center center" id="settingsBtnDiv" routerLink="/top-drawings">
          <span>Mes dessins gagnants</span>
        </div>
      </div>
    </div>

  </div>
</div>
