<div id="draggable-zone" fxLayout="row" fxLayoutAlign="start stretch">
  <mat-icon id="back-btn">drag_indicator</mat-icon>
</div>


<div id="main-wrapper" fxLayout="column" fxLayoutAlign="center center">

  <img src="./assets/PolyGramLogo.png" alt="Logo" fxFlex="25" />

  <h1 fxLayout="row" fxLayoutAlign="center center">Réinitialisation du mot de passe</h1>

  <div *ngIf="!this.passwordService.codeIsValid">
    <div fxLayout="row" fxLayoutAlign="center center">
      <p>Entre le code unique qui t'a été envoyé par courriel ci-dessous.</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <p class="note">N'oublie pas de regarder dans tes courriels indésirables!</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field appearance="outline">
        <mat-label>Code unique</mat-label>
        <input type="number" matInput [(ngModel)]="this.uniqueCode">
      </mat-form-field>
    </div>
  </div>

  <button fxLayoutAlign="center" mat-raised-button color="primary" (click)="this.verifyCode()" *ngIf="!this.passwordService.codeIsValid ">
    VÉRIFIER
  </button>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="this.passwordService.codeIsValid ">
    <div fxLayout="column" fxLayoutAlign="center center">

      <p>Tu es sur le point de changer le mot de passe pour le compte ayant le courriel suivant :
        <span class="bold">
          {{ this.passwordService.email }}
        </span>
      </p>

      <mat-form-field appearance="outline">
        <mat-label >Nouveau mot de passe</mat-label>
        <input type="password" matInput [(ngModel)]="this.passwordService.newPassword">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmation du nouveau mot de passe</mat-label>
        <input type="password" matInput [(ngModel)]="this.passwordService.confirmedPassword">
      </mat-form-field>

      <div id="warning" fxLayout="row" fxLayoutAlign="center center" *ngIf="!this.areEquals">
        Attention, les mots de passe sont différents.
      </div>
      <div id="warning" fxLayout="row" fxLayoutAlign="center center" *ngIf="!this.isLengthValid">
        Attention, le nouveau mot de passe doit contenir {{ this.MAX_LENGTH }} caractères et moins.
      </div>

      <button mat-raised-button color="primary" (click)="this.changePassword()">
        CHANGER LE MOT DE PASSE
      </button>

    </div>
  </div>

</div>
