:host {
  height: 100%;
}

mat-icon {
  transform: scale(4);
  color: #A8D08C;
}

#back-btn {
  transform: scale(2);
}

::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
  height: 30px !important;
}

#btnDiv {
  margin: 30px;
}

#albumsDiv {
  border: solid 2px;
  border-radius: 5px;
  height: 100%;
  overflow-y: auto;
}

#albumRow {
  height: 100%;
}
