<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex="100">
  <app-side-menu fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15%"></app-side-menu>

  <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex="auto">

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <button mat-icon-button disableRipple="true" routerLink="/my-albums">
        <mat-icon id="back-btn">keyboard_arrow_left</mat-icon> Retour vers Mes Albums
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <h2>Albums publics</h2>
    </div>

    <mat-grid-list cols="3" rowHeight="3:1">
      <mat-grid-tile *ngFor="let album of this.albumGalleryService.publicAlbums">
        <button mat-icon-button disableRipple="true" (click)="this.onAlbumClick(album)" routerLink="/drawing-view">
          <div>
            <mat-icon>folder</mat-icon>
          </div>
          <div>{{album.name}}</div>
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>
