<h2 mat-dialog-title>Créer un album</h2>

<mat-dialog-content class="mat-typography">

  <mat-form-field appearance="fill">
    <mat-label>Nom de l'album</mat-label>
    <input matInput [(ngModel)]="this.name">
  </mat-form-field>

  <div class="warning" *ngIf="this.isEmpty">
    Attention, le nom du dessin ne doit pas être vide.
  </div>
  <div class="warning" *ngIf="!this.isValidLength">
    Attention, le nom du dessin doit être composé de 40 caractères et moins.
  </div>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="this.description"></textarea>
  </mat-form-field>

  <div>
    L'album <span class="bold">{{this.name}}</span> aura comme description :
    <br>
    <span class="italic">{{this.description}}</span>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button cdkFocusInitial (click)="createAlbumButton()">Créer</button>
</mat-dialog-actions>
