<mat-sidenav-container class="config-container">
    <mat-sidenav-content>
        <h3>Paramètres de l'outil</h3>
        <app-line-config *ngIf="toolManagerService.currentToolEnum === ToolList.Line"></app-line-config>
        <app-pencil-config *ngIf="toolManagerService.currentToolEnum === ToolList.Pencil"></app-pencil-config>
        <app-eraser-config *ngIf="toolManagerService.currentToolEnum === ToolList.Eraser"></app-eraser-config>
        <app-rectangle-config *ngIf="toolManagerService.currentToolEnum === ToolList.Rectangle"> </app-rectangle-config>
        <app-ellipse-config *ngIf="toolManagerService.currentToolEnum === ToolList.Ellipse"></app-ellipse-config>
        <app-pipette-config *ngIf="toolManagerService.currentToolEnum === ToolList.Pipette"></app-pipette-config>
        <app-polygon-config *ngIf="toolManagerService.currentToolEnum === ToolList.Polygon"></app-polygon-config>
        <app-spray-config *ngIf="toolManagerService.currentToolEnum === ToolList.Spray"></app-spray-config>
        <app-selection-config *ngIf="toolManagerService.currentToolEnum === ToolList.SelectionRectangle"></app-selection-config>
        <app-selection-config *ngIf="toolManagerService.currentToolEnum === ToolList.SelectionEllipse"></app-selection-config>
        <app-stamp-config  *ngIf="toolManagerService.currentToolEnum === ToolList.Stamp"></app-stamp-config>
        <app-selection-config *ngIf="toolManagerService.currentToolEnum === ToolList.Lasso"></app-selection-config>
        <app-paint-config *ngIf="toolManagerService.currentToolEnum === ToolList.PaintBucket"></app-paint-config>
        <div *ngIf="includesColorConfiguration()">
            <h3>Choix de couleur</h3>
            <app-color-displayer></app-color-displayer>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
