:host {
  height: 100%;
}

#reset-password-link {
  margin: 1em;
  font-size: small;
  cursor: pointer;
}

#reset-password-link:hover {
  color: #3f51b5;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
}

#quit-btn {
  margin: 1em;
}

#drag-btn {
  font-size: 20px;
  display: block;
  float: right;
  margin: 1em;
  cursor: pointer;
  -webkit-app-region: drag;
}
