:host {
    height: 100%;
}

button {
  margin: 5px;
}

.sectionTitleContainer {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 15px;
}

.topPadding {
    margin-top: 10px;
}

.topBottomPadding {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bordered {
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    padding: 13px;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 12px;
}

.soundField {
    ::ng-deep .mat-form-field-flex {
        padding-top: 0;
    }
}

.bold {
    font-weight: bold;
} 

#title {
    text-decoration: underline;
}

#avatarImg {
    height: 90%;
}

#avatarDisplay {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
}

#usernameArrow {
    padding-top: 25px;
}

#descriptionInput {
    height: 50px;
    text-align: justify;
    white-space: pre-line;
    -moz-text-align-last: left;
    text-align-last: left;
}

#avatarBtnDiv {
    border:solid 2px;
    border-radius: 15px;
    padding: 5px;
    width: 210px;
}

#avatarBtnDiv:hover {
    cursor: pointer;
    color: rgb(78, 78, 78);
}

#usernameChangeDiv {
    padding-top: 10px;
}

#nameInput {
    ::ng-deep .mat-form-field-wrapper {
        padding: 0;
        margin: 0;
    }
}

#saveBtnDiv {
    border:solid 2px;
    border-radius: 15px;
    padding: 5px;
    width: 150px;
}

#saveBtnDiv:hover {
    cursor: pointer;
    color: rgb(78, 78, 78);
}

#note {
    color: rgba(128, 128, 128, 0.669);
    padding-top: 5px;
    font-size: 10px;
}