<div class="modal-container">
    <h1 mat-dialog-title>Exporter un dessin</h1>
    <div mat-dialog-content>Veuillez choisir un nom pour votre dessin :</div>

    <mat-form-field>
        <input
            matInput
            placeholder="Titre du dessin"
            type="text"
            [(ngModel)]="exportService.drawingTitle"
            ngDefaultControl
            [maxlength]="this.maxLength"
            required
        />
        <mat-icon matSuffix class="help-btn" [matTooltip]="this.matTooltipForTitle" matTooltipPosition="right">help </mat-icon>
    </mat-form-field>

    <div class="warning-msg" *ngIf="!this.validateString(exportService.drawingTitle)">
        Le titre du dessin <span class="underline">ne doit pas</span> comporter de caractères spéciaux ni d'espaces.
    </div>
    <div mat-dialog-content>
        Veuillez choisir une option pour l'exportation :
        <br />
        <mat-radio-group>
            <mat-radio-button [checked]="this.imgurIsSelected == false" class="export-opt" [value]="0" (click)="this.changeImgurSelection(false)"
                >PC</mat-radio-button
            >
            <mat-radio-button class="export-opt" [value]="1" (click)="this.changeImgurSelection(true)">Imgur</mat-radio-button>
        </mat-radio-group>
    </div>
    <br />
    <mat-form-field>
        <mat-label>Format de l'image</mat-label>
        <mat-select [(ngModel)]="exportService.currentImageFormat" ngDefaultControl>
            <mat-option value="png">PNG</mat-option>
            <mat-option value="jpeg">JPG</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="filters-container">
        <mat-label>Filtres</mat-label>
        <mat-select [(ngModel)]="exportService.selectedFilter" ngDefaultControl (selectionChange)="exportService.applyFilter()">
            <mat-option [value]="filters.None">Aucun</mat-option>
            <mat-option [value]="filters.Blur">Flou</mat-option>
            <mat-option [value]="filters.Brightness">Luminosité</mat-option>
            <mat-option [value]="filters.Contrast">Contraste</mat-option>
            <mat-option [value]="filters.Invert">Inversion des couleurs</mat-option>
            <mat-option [value]="filters.Grayscale">Nuance de gris</mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="exportService.currentFilter !== 'none'">
        <h4>Intensité du filtre : {{ exportService.filterIntensity }}</h4>
        <div>
            <mat-slider
                min="0"
                max="100"
                tickInterval="1000"
                thumbLabel
                (change)="exportService.applyFilter()"
                [(ngModel)]="exportService.filterIntensity"
                ngDefaultControl
            >
            </mat-slider>
        </div>
    </div>

    <div class="preview">
        <canvas id="canvas" #baseCanvas [attr.width]="exportService.resizeWidth" [attr.height]="exportService.resizeHeight"> </canvas>
    </div>

    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Annuler</button>
        <button *ngIf="imgurIsSelected === true" mat-button (click)="uploadToImgur()">Téléverser sur Imgur</button>
        <button *ngIf="imgurIsSelected === false" mat-button mat-dialog-close (click)="exportDrawing()">Exporter localement</button>
        <br />
    </div>
    <div id="imgur" *ngIf="this.exportService.imgurURL != ''">
        L'url de votre image sur Imgur est :
        <a [href]="this.exportService.imgurURL" target="_blank" mat-dialog-close (click)="this.closeModal()">{{ this.exportService.imgurURL }}</a>
    </div>
</div>
