<div class="container">
    <h3>Outils</h3>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <button [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Pencil }" mat-icon-button
                matTooltip="Crayon (C)" matTooltipPosition="above" (click)="onTool(ToolList.Pencil)">
                <mat-icon>create</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Eraser }" mat-icon-button
                matTooltip="Efface (E)" matTooltipPosition="above" (click)="onTool(ToolList.Eraser)">
                <mat-icon>how_to_vote</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Rectangle }" mat-icon-button
                matTooltip="Rectangle (1)" matTooltipPosition="above" (click)="onTool(ToolList.Rectangle)">
                <mat-icon>check_box_outline_blank</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Ellipse }" mat-icon-button
                matTooltip="Ellipse (2)" matTooltipPosition="above" (click)="onTool(ToolList.Ellipse)">
                <mat-icon>radio_button_unchecked</mat-icon>
            </button>
        </mat-grid-tile>

    </mat-grid-list>
</div>