button {
    color: black;
    background-color: rgba($color: #fff, $alpha: 0);
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
}

button:hover {
    color: white;
}

h3 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 40px;
    text-shadow: 1px 1px 5px rgb(27, 27, 27);
    margin-bottom: 40px;
}

mat-icon {
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    font-size: 40px;
    height: 40px;
    width: 40px;
}

.active {
    color: white;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

#undoRedoMenu{
    margin-bottom: -30px;
}

#undoRedoList{
    margin-top:-35px;
    margin-bottom: 15px;
}