<div class="container">
    <h3>Outils</h3>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <button
                [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Pencil }"
                mat-icon-button
                matTooltip="Crayon (C)"
                matTooltipPosition="above"
                (click)="onTool(ToolList.Pencil)"
            >
                <mat-icon>create</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button
                [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Eraser }"
                mat-icon-button
                matTooltip="Efface (E)"
                matTooltipPosition="above"
                (click)="onTool(ToolList.Eraser)"
            >
                <mat-icon>how_to_vote</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button
                [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Rectangle }"
                mat-icon-button
                matTooltip="Rectangle (1)"
                matTooltipPosition="above"
                (click)="onTool(ToolList.Rectangle)"
            >
                <mat-icon>check_box_outline_blank</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button
                [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Ellipse }"
                mat-icon-button
                matTooltip="Ellipse (2)"
                matTooltipPosition="above"
                (click)="onTool(ToolList.Ellipse)"
            >
                <mat-icon>radio_button_unchecked</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button
                [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.Polygon }"
                mat-icon-button
                matTooltip="Polygone (3)"
                matTooltipPosition="above"
                (click)="onTool(ToolList.Polygon)"
            >
                <mat-icon>change_history</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button
                [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.PaintBucket }"
                mat-icon-button
                matTooltip="Sceau de peinture (B)"
                matTooltipPosition="above"
                (click)="onTool(ToolList.PaintBucket)"
            >
                <mat-icon>format_color_fill</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile>
            <button
                [ngClass]="{ active: toolManagerService.currentToolEnum === ToolList.SelectionRectangle }"
                mat-icon-button
                matTooltip="Sélection Rectangle (R)"
                matTooltipPosition="above"
                (click)="onTool(ToolList.SelectionRectangle)"
            >
                <mat-icon>crop_free</mat-icon>
            </button>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</div>

<div id="undoRedoMenu">
    <hr />
    <h3>Annuler/refaire</h3>
    <div id="undoRedoList">
        <mat-grid-list  cols="2">
            <mat-grid-tile>
                <button
                    mat-icon-button
                    matTooltip="Annuler (Ctrl+Z)"
                    matTooltipPosition="above"
                    (click)="this.selectionService.terminateSelection()"
                    (click)="undo()"
                    [disabled]="!undoRedoService.canUndo()"
                >
                    <mat-icon>undo</mat-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button
                    mat-icon-button
                    matTooltip="Refaire (Ctrl+Shift+Z)"
                    matTooltipPosition="above"
                    (click)="redo()"
                    [disabled]="!undoRedoService.canRedo()"
                >
                    <mat-icon>redo</mat-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
