<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex="100">
  <app-side-menu fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15%"></app-side-menu>

  <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex="auto">


    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <button mat-icon-button disableRipple="true" routerLink="/chatmenu">
        <mat-icon id="back-btn">keyboard_arrow_left</mat-icon> Retour vers Mes Conversations
      </button>
    </div>

    <mat-grid-list cols="2" rowHeight="5:1">
      <mat-grid-tile *ngFor="let room of this.chatService.publicRooms">

        <div class="roomname-container" mat-raised-button color="primary">
            {{room.roomName}}
        </div>
        <button mat-raised-button color="accent" (click)="this.onChatroomClick(room)">
          Joindre
        </button>

      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>
