<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex="100">
  <app-side-menu fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15%"></app-side-menu>

  <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxFlex="auto">
    <div fxFlex="20"></div>

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <button mat-icon-button disableRipple="true" routerLink="/chatmenu">
        <mat-icon id="back-btn">keyboard_arrow_left</mat-icon> Retour vers Mes Conversations
      </button>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button color="primary">Convo1</button>
      <button mat-raised-button color="primary">Convo2</button>
      <button mat-raised-button color="primary">Convo3</button>
      <button mat-raised-button color="primary">Convo4</button>
      <button mat-raised-button color="primary">Convo5</button>
    </div>

    <div fxFlex="20"></div>
  </div>
</div>
