:host {
  height: 100%;
}

mat-icon {
  color: #A8D08C;
}

button {
  margin: 2px;
  height: 4em;
}

#search-bar {
  width: 50%;
  margin: 2px;
}

#back-btn {
  transform: scale(2);
}

.roomname-container {
  border-radius: 5px;
  border: 1px solid grey;
  width: 100px;
  padding: 10px;
  margin: 2px;
}

#scroll-container {
  overflow: scroll;
}
