:host {
  height: 100%;
}

button {
  margin: 2px;
  height: 4em;
}

#search-bar {
  width: 50%;
  margin: 2px;
}

.roomname-container {
  border-radius: 5px;
  border: 1px solid grey;
  width: 100px;
  padding: 10px;
  margin: 2px;
}

#scroll-container {
  overflow: scroll;
}
