button {
    color: rgb(247, 247, 247);
    background-color: rgba($color: #fff, $alpha: 0);
    margin: 0;
    padding: 0;
}

button:hover {
    color: rgb(255, 87, 87);
}

h3 {
    text-align: center;
    color: rgb(247, 247, 247);
}

mat-icon {
    text-shadow: 1px 1px 5px rgb(27, 27, 27);
}

.active {
    color: rgb(255, 87, 87);
}

mat-label {
    color: rgb(247, 247, 247);
}

::ng-deep .white .mat-select-value {
    color: rgb(247, 247, 247);
}
