<h1>Sélecteur de couleur</h1>
<div mat-dialog-content>
    <app-color-palette [shouldUpdateGradient]="shouldUpdateGradient" (shouldUpdateForAlpha)="shouldUpdateForAlpha = $event">
    </app-color-palette>
    <app-alpha-slider [shouldUpdateGradient]="shouldUpdateGradient" [shouldUpdateForAlpha]="shouldUpdateForAlpha"> </app-alpha-slider>
    <app-color-slider (shouldUpdateGradient)="shouldUpdateGradient = $event"> </app-color-slider>
    <mat-form-field class="inputs">
        <input matInput placeholder="Bleu" pattern="[a-fA-f0-9 ]*" [(ngModel)]="selectedColor.Hex.Blue" (change)="updateHex()" maxlength="2" />
    </mat-form-field>
    <mat-form-field class="inputs">
        <input matInput placeholder="Vert" pattern="[a-fA-f0-9 ]*" [(ngModel)]="selectedColor.Hex.Green" (change)="updateHex()" maxlength="2" />
    </mat-form-field>
    <mat-form-field class="inputs">
        <input matInput placeholder="Rouge" pattern="[a-fA-f0-9 ]*" [(ngModel)]="selectedColor.Hex.Red" (change)="updateHex()" maxlength="2" />
    </mat-form-field>

    <canvas class="preview" width="40" height="40" [ngStyle]="{ 'background-color': selectedColor.inString }"></canvas>

    <!-- <div *ngIf="data != 2"> TO VERIFY (it triggers an error)-->
    <div *ngIf="true">
        <div class="history" *ngFor="let history of colorHistory">
            <canvas
                width="40"
                height="40"
                [ngStyle]="{ 'background-color': history.inString }"
                (contextmenu)="contextMenu($event)"
                (mousedown)="mouseClickOnHistory($event, history)"
            ></canvas>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="closeWindow()">Ok</button>
</div>
