.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.infos {
    margin-top: 15px;
}

.add-btn {
    // margin-left: 10px;
    color: rgb(2, 187, 2);
}

.remove-btn {
    color: rgb(255, 87, 87);
}

.help-btn {
    cursor: help;
}

.inline-icon {
    font-size: 20px;
}

.warning-msg {
    font-style: italic;
    color: rgb(255, 87, 87);
    margin: 10px;
}

li {
    list-style: none;
    display: inline-block;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    margin: 5px;
    padding: 0 5px 0 15px;
}

li:hover {
    background-color: rgb(182, 182, 182);
}
