.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;

    background-size: cover;
}

.button {
    background-color: rgba(0, 0, 0, 0.836);
    border: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 16px;
}

button:disabled,
button[disabled] {
    background-color: rgba(0, 0, 0, 0.301);
    border: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: black;
    display: inline-block;
    font-size: 16px;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.header-item {
    justify-content: center;
    text-align: center;
    font-family: fantasy;
    font-size: 120px;
    margin-top: 100px;
}

.footer-item {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}
