:host {
   height: 100%;
}

::ng-deep .mat-dialog-container {
   padding: 0;
}

.fullHeigth {
   height: 100%;
}

.nextPreviousDiv {
   width: 75px;
}

.nextPreviousDiv:hover {
   width: 70px;
   cursor: pointer;
   > div > mat-icon {
      color: white;
      text-shadow: 0px 0px 1px white;
   }
}

#username {
  cursor: pointer;
  font-weight: bold;
}

#username:hover {
  color: #A8D08C;
}

#dialog {
   height: 100%;
   background-color: black;
}

#fullColumn {
   height: 100%;
   width: 100%;
}

#avatarDiv {
   margin: 30px;
   height: 100px;
   width: 100px;
   background-color: white;
   border: solid 2px white;
   border-radius: 50%;
   overflow: hidden;
}

#avatarImg {
   height: 100px;
   width: 100px;
}

#storyDiv {
   background-color: white;
   height: 100%;
   width: 100%;
   border-radius: 10px;
   margin-bottom: 30px;
}

#storyImg {
   height: 75%;
   width: 100%;
}

mat-progress-bar {
   margin-left: 1px;
   margin-right: 1px;
}

span {
   color: white;
   font-size:xx-large;
}

mat-icon {
   scale: 2.3;
   color: lightgrey;
}
