<div class="green" fxFlex="100">
   <div fxLayout="row" fxLayoutAlign="space-between stretch" >
      <div fxFlex></div>
      <img src="./assets/PolyGramLogo.png" alt="Logo" fxFlex="80">
      <div fxFlex></div>
   </div>

   <div fxLayout="column" fxLayoutAlign="center stretch">
      <button mat-raised-button color="primary" routerLink="/menu">Tableau de bord</button>
      <button mat-raised-button color="primary" routerLink="/chatmenu">Clavardage</button>
      <button mat-raised-button color="primary" routerLink="/editor">Zone de dessin</button>
      <button mat-raised-button color="primary" routerLink="/my-albums">Albums</button>
      <button mat-raised-button color="primary">Mon profil</button>
   </div>

</div>

