<div fxLayout="row" fxLayoutAlign="center stretch" fxFlex="100">
  <app-side-menu fxLayout="column" fxLayoutAlign="start stretch" fxFlex="15%"></app-side-menu>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="auto">
    <div fxFlex="10%"></div>

    <div fxFlex="5%" fxLayout="row" fxLayoutAlign="center center">
      <h1><u>Recherche avancée</u></h1>
    </div>

    <div fxFlex="5%" fxLayout="row" fxLayoutAlign="center center">
      <p>À la recherche d'un album, d'un dessin ou d'un utilisateur spécifique ? Fais ta recherche ici !</p>
    </div>

    <!-- Search bar -->
    <div fxFlex="10%" fxLayoutAlign="center">
      <mat-form-field appearance="outline" id="search-bar">
        <mat-label>Écris un mot clé...</mat-label>
        <input matInput id="search-input" [(ngModel)]="this.searchBarInput">
      </mat-form-field>

      <mat-form-field appearance="outline" id="selected-filter">
        <mat-label>Catégorie</mat-label>
        <mat-select value="albums" (valueChange)="changeCategory($event)">
          <mat-option value="albums">Albums</mat-option>
          <mat-option value="drawings">Dessins</mat-option>
          <mat-option value="users">Utilisateurs</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" id="attributes" *ngIf="this.advancedResearchService.isAlbum" >
        <mat-label>Attribut</mat-label>
        <mat-select value="name" (valueChange)="this.changeAttribute($event)">
          <mat-option value="name">Nom de l'album</mat-option>
          <mat-option value="description">Description</mat-option>
          <mat-option value="creationDate">Date de création</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" id="attributes" *ngIf="this.advancedResearchService.isDrawing" >
        <mat-label>Attribut</mat-label>
        <mat-select value="name" (valueChange)="this.changeAttribute($event)">
          <mat-option value="name">Nom du dessin</mat-option>
          <mat-option value="owner">Propriétaire</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" id="attributes" *ngIf="this.advancedResearchService.isUser" >
        <mat-label>Attribut</mat-label>
        <mat-select value="identifier" (valueChange)="this.changeAttribute($event)">
          <mat-option value="identifier">Nom d'utilisateur</mat-option>
          <mat-option value="description">Description</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="warning" fxLayoutAlign="center start" *ngIf="!this.isValidInput && this.searchBarInput != '' ">Tu dois écrire un seul mot-clé!</div>

    <div fxLayoutAlign="center">
      <button mat-raised-button color="primary" disableRipple="true" (click)="onSearchBtn()">
        Rechercher
      </button>
      <button mat-raised-button color="primary" disableRipple="true" (click)="onCancelBtn()">
        Annuler
      </button>
    </div>

    <!-- Result container -->
    <div fxFlex="65%" *ngIf="this.advancedResearchService.isAlbum || this.advancedResearchService.isUser">
      <div id="result-row" fxLayout="row" fxLayoutAlign="center stretch">
        <div id="result-div" fxFlex="85%">

          <mat-grid-list cols="4" *ngIf="this.advancedResearchService.isAlbum" >
            <mat-grid-tile *ngFor="let album of this.advancedResearchService.result">
              <button mat-icon-button disableRipple="true" (click)="this.onAlbumClick(album)">
                <div><mat-icon>folder</mat-icon></div>
                <div class="label">
                  {{album.name}}
                </div>
              </button>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" *ngIf="this.advancedResearchService.isUser">
            <mat-grid-tile *ngFor="let user of this.advancedResearchService.result">
              <button mat-icon-button disableRipple="true" (click)="this.onUserClick(user)">
                <img id="user-avatar" src="data:image/png;base64,{{user.avatar}}">
                <div class="label">{{user.identifier}}</div>
              </button>
            </mat-grid-tile>
          </mat-grid-list>

        </div>
      </div>
    </div>

    <div fxFlex="65%" id="drawingRow" fxLayout="row" fxLayoutAlign="center stretch" *ngIf="this.advancedResearchService.isDrawing">
      <div id="drawingsDiv" fxFlex="85%">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div fxFlex="25%" fxFlex.xs="90%" fxFlex.sm="33%" *ngFor="let drawing of this.advancedResearchService.result">
            <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <mat-card-title>{{drawing.name}}</mat-card-title>
              </mat-card-header>

              <img routerLink="/editor" (click)="this.enterCollab(drawing)" mat-card-image
                src="data:image/png;base64,{{ drawing.data }}">

              <mat-card-content>
                <p>
                  Propriétaire: <span class="username">{{drawing.owner}}</span>
                </p>
              </mat-card-content>

            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div fxFlex="10%"></div>
  </div>
</div>
