<div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex="auto">

  <div>
    <button mat-icon-button disableRipple="true" routerLink="/home">
      <mat-icon id="back-btn">keyboard_arrow_left</mat-icon> Retour
    </button>
  </div>

  <img src="./assets/PolyGramLogo.png" alt="Logo" fxFlex="25" />

  <div fxLayout="column" fxLayoutAlign="start center">
    <h1>Création du compte</h1>
    <form>
      <mat-form-field class="animate__animated"
        [ngClass]="{animate__headShake: !this.isValidUsername || this.signUpService.isExistingUsername}"
        appearance="fill">
        <mat-label>Identifiant</mat-label>
        <input matInput placeholder="Entrez votre nom" [(ngModel)]="this.username" name="username">
      </mat-form-field>
    </form>
    <p *ngIf="this.signUpService.isExistingUsername" class="error">^ <u>Cet identifiant n'est pas disponible</u> ^</p>
    <p *ngIf="!this.isValidUsername" class="error errorMargin">^ <u>L'identifiant doit être composé de lettres et/ou de
        chiffres uniquement</u> ^</p>
    <form>
      <mat-form-field class="animate__animated" [ngClass]="{animate__headShake: !this.isValidPW}" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="Entrez votre mot de passe" type="password" [(ngModel)]="this.password"
          name="password">
      </mat-form-field>
    </form>
    <p *ngIf="!this.isValidPW" class="error errorMargin">^ <u>Le mot de passe ne doit pas contenir d'espaces.</u> ^</p>
    <form>
      <mat-form-field class="animate__animated" [ngClass]="{animate__headShake: !this.isValidConfirmation}"
        appearance="fill">
        <mat-label>Confirmation du mot de passe</mat-label>
        <input matInput placeholder="Confirmer votre mot de passe" type="password" [(ngModel)]="this.confirmedPassword"
          name="confirmedPassword">
      </mat-form-field>
    </form>
    <p *ngIf="!this.isValidConfirmation" class="error errorMargin">^ <u>Les champs mot de passe et confirmation ne
        correspondent pas</u> ^</p>
    <form>
      <mat-form-field class="animate__animated"
        [ngClass]="{animate__headShake: !this.isValidEmail || this.signUpService.isUsedEmail}" appearance="fill">
        <mat-label>Courriel</mat-label>
        <input matInput placeholder="Entrez votre courriel" [(ngModel)]="this.email" name="email">
      </mat-form-field>
    </form>
    <p *ngIf="this.signUpService.isUsedEmail" class="error">^ <u>Ce courriel est déjà assigné à un autre compte</u> ^
    </p>
    <p *ngIf="!this.isValidEmail" class="error errorMargin">^ <u>Le courriel doit être de la forme
        'name@mail.ca/com'</u> ^</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="this.openAvatarSelectionModal()" class="Width200">Choisir un
        avatar</button>
      <div fxFlex="20"></div>
      <button mat-raised-button color="primary" (click)="this.openAvatarImportModal()" class="Width200">Importer un
        avatar</button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <span>Votre avatar : </span> <br>
    <div id="avatarDisplay" class="animate__animated"
      [ngClass]="{animate__headShake: this.signUpService.isAvatarTooLarge}" fxLayoutAlign="center center">
      <img *ngIf="this.signUpService.avatarSrc" id="avatarImg"
        src="data:image/png;base64,{{this.signUpService.avatarSrc}}">
    </div>
    <p *ngIf="this.signUpService.isAvatarTooLarge" class="error">^ <u>L'avatar importé est trop volumineux</u> ^</p>
  </div>

  <div fxLayout="column" fxLayoutAlign="start center">
    <button mat-raised-button color="warn" (click)="this.createAccountButton()">CRÉER LE COMPTE</button>
  </div>
</div>
