<div id="workingArea" #workingArea (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)">
    <div id="canvas-container" [style.width.px]="width" [style.height.px]="height" (mouseleave)="onMouseLeave($event)">
        <canvas id="canvas" #baseCanvas [attr.width]="width" [attr.height]="height"> </canvas>
        <canvas id="previewLayer" #previewCanvas [attr.width]="width" [attr.height]="height"></canvas>
        <canvas id="cursor" #cursorCanvas [attr.width]="width" [attr.height]="height"> </canvas>
        <canvas id="lassoPreviewCanvas" #lassoPreviewCanvas [attr.width]="width" [attr.height]="height"> </canvas>
        <canvas id="gridLayer" #gridCanvas [attr.width]="width" [attr.height]="height"></canvas>
        <div
            class="box bottom-right"
            cdkDrag
            (cdkDragMoved)="dragMoved($event, true, true)"
            (cdkDragEnded)="dragEnded($event)"
            (cdkDragEnded)="changePosition()"
            [cdkDragFreeDragPosition]="dragPosition"
        ></div>
        <div
            class="box right-center"
            cdkDrag
            cdkDragLockAxis="x"
            (cdkDragMoved)="dragMoved($event, true, false)"
            (cdkDragEnded)="dragEnded($event)"
            (cdkDragEnded)="changePosition()"
            [cdkDragFreeDragPosition]="dragPosition"
        ></div>
        <div
            class="box bottom-center"
            cdkDrag
            cdkDragLockAxis="y"
            (cdkDragMoved)="dragMoved($event, false, true)"
            (cdkDragEnded)="dragEnded($event)"
            (cdkDragEnded)="changePosition()"
            [cdkDragFreeDragPosition]="dragPosition"
        ></div>
    </div>
</div>
